@font-face {
  font-family: JH_Fallout;
  src: url("../font/JH_FALLOUT.TTF");
}

body {
  font-family: JH_Fallout;
  font-size: 8pt;
  color: #3CF800;
  background-color: #101010;
  padding-top: 100px;
}

#wrap {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

#frmplayer, #stage {
  float: left;
  width: 300px;
  height: 300px;
  background-color: #040C00;
  background: url("../img/arroyo.jpg");
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#list {
  float: left;
  width: 500px;
  height: 300px;
  overflow: auto;
  background-color: #040C00;
}

#list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#list ul li {
}

#list ul li a {
  position: relative;
  display: block;
  color: #183018;
  background-color: #040C00;
  height: 50px;
  line-height: 50px;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
  text-decoration: none;
  outline: none;
}

#list ul li a:hover {
  color: #3CF800;
  background-color: #143D00;
}

#list ul li a:active {
  background-color: #206000;
}

#list ul li a.actived {
  color: #3CF800;
}

#list ul li a span {
  margin-right: .5em;
}

.kind {
}

.appearance {
}

.action {
}

.loader {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 30px;
}

.loader div {
  float: right;
  clear: right;
  background-color: #3CF800;
  height: 16.666%;
  width: 0;
}

#footer {
  position: absolute;
  right: 10px;
  bottom: 5px;
}

#footer a {
  color: #3CF800;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}
