body {
  font-family: Manaco;
  background-color: #333;
  padding-top: 100px;
}

#wrap {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

#frmplayer, #stage {
  float: left;
  width: 300px;
  height: 300px;
  background-color: #222;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#list {
  float: left;
  width: 500px;
  height: 300px;
  overflow: auto;
  background-color: #222;
}

#list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#list ul li {
}

#list ul li a {
  display: block;
  background-color: #272727;
  height: 50px;
  line-height: 50px;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
  text-decoration: none;
  outline: none;
}

#list ul li a:hover {
  background-color: #2E2E2E;
}

#list ul li a:active {
  background-color: #666;
}

#list ul li a span {
  margin-right: .5em;
}

.kind {
  color: #999; 
}

.appearance {
  color: #CCC;
}

.action {
  color: #EEE;
}

#loader {
  color: #EEE;
}

#footer {
  font-size: 10pt;
  color: #666;
}
